.card-wide.mdl-card {
    width: 512px;
}

.card-wide > .mdl-card__title {
    height: 200px;
}

.card-wide > .mdl-card__menu {
    color: #fff;
}

.card-wide {
    text-align: center !important;
}

.mdl-checkbox {
    display: inline !important;
}

.mdl-checkbox__label {
    bottom: -5px;
}