#game {
    text-align: center;
    padding-bottom: 25px;
}

#clicker {
    padding: 50px;
    line-height: 0px;
}

#perClickCardImage {
    background: url("../images/shop/per-click.png") center / cover; 
}

#clickBombCardImage {
    background: url("../images/shop/click-bomb.png") center / cover; 
}

#clickMinerCardImage {
    background: url("../images/shop/click-miner.png") center / cover; 
}

#clickFactoryCardImage {
    background: url("../images/shop/click-factory.png") center / cover; 
}

#autoClickerCardImage {
    background: url("../images/shop/coming-soon.png") center / cover; 
}
