*, *:before, *:after {
    box-sizing: unset !important;
} 

.setting {
    padding-top: 10px;
    padding-bottom: 10px;
}

.w3-modal-content {
    padding: 25px !important;
}

#game {
    text-align: center;
    padding-bottom: 25px;
}

#clicker {
    padding: 50px;
    line-height: 0px;
}

/* Upgrades */
#perClickCardImage {
    background: url("../images/shop/per-click.png") center / cover; 
}

#clickBombCardImage {
    background: url("../images/shop/click-bomb.png") center / cover; 
}

#clickMinerCardImage {
    background: url("../images/shop/click-miner.png") center / cover; 
}

#clickFactoryCardImage {
    background: url("../images/shop/click-factory.png") center / cover; 
}

#autoClickerCardImage {
    background: url("../images/shop/auto-clicker.png") center / cover; 
}

#clickPortalCardImage {
    background: url("../images/shop/click-portal.jpg") center / cover; 
}

/* Cases */
#soundCaseCardImage {
    background: url("../images/cases/sound-case.png") center / cover; 
}

#clickCaseCardImage {
    background: url("../images/cases/click-case.png") center / cover; 
}
