#game {
    text-align: center;
}

#clicker {
    padding: 50px;
    line-height: 0px;
}

#bombImage {
    background: url("../images/shop/bomb.png") center / cover; 
}

#perClickImage {
    background: url("../images/shop/per-click.png") center / cover; 
}
