#title {
	color: red;
}

#stats {
	color: red;
}

#shop {
	background-color: #58E3E7;
}

body {
	background-image: url("files/images/backgrounds/space.jpg");
}

#click-wrap-title {
	font-size: 15px;
  
	/* Chrome, Safari, Opera */
	-webkit-animation: rainbow 1s infinite;

	/* Internet Explorer */
	-ms-animation: rainbow 1s infinite;

	/* Standar Syntax */
	animation: rainbow 1s infinite;
}

#clicker_text {
	/* Chrome, Safari, Opera */
	-webkit-animation: rainbow 1s infinite;
	
	  /* Internet Explorer */
	  -ms-animation: rainbow 1s infinite;
	
	  /* Standar Syntax */
	  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
	20%{color: red}
	40%{color: yellow}
	60%{color: green}
	80%{color: blue}
	100%{color: purple}	
}

/* Internet Explorer */
@-ms-keyframes rainbow {
	20%{color: red}
	40%{color: yellow}
	60%{color: green}
	80%{color: blue}
	100%{color: purple}	
}

/* Standar Syntax */
@keyframes rainbow {
	20%{color: red}
	40%{color: yellow}
	60%{color: green}
	80%{color: blue}
	100%{color: purple}	
}
